@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1595px;
  padding: 0 20px;
  margin: 0 auto;
}

.container-content {
  max-width: 1265px;
  margin: 0 auto;
}

.container-content2 {
  max-width: 1595px;
  margin-left: auto;
}

@layer base {
  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl;
  }

  p {
    @apply text-base xl:text-lg;
  }
}

.items-center {
  @apply w-auto md:w-3/5 mx-auto text-center;
}

.flex-items-center {
  @apply flex items-center justify-center;
}

.items-row {
  @apply flex flex-row;
}

.flex-center {
  @apply flex items-center;
}
