@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  max-width: 1595px;
  padding: 0 20px;
  margin: 0 auto;
}

.container_content {
  max-width: 1265px;
  margin: 0 auto;
}

.container-content2 {
  max-width: 1595px;
  margin-left: auto;
}

@layer base {
  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl tracking-wide;
  }

  h3 {
    @apply text-2xl md:text-3xl lg:text-4xl tracking-wide;
  }

  p {
    @apply text-base xl:text-lg tracking-wide;
  }

  section {
    @apply lg:py-20 py-12;
  }
}

.items__center {
  @apply w-auto md:w-3/5 mx-auto text-center;
}

.flex_items_center {
  @apply flex items-center justify-center;
}

.items__row {
  @apply lg:flex flex-row;
}

.flex_center {
  @apply flex items-center;
}

.card__custom {
  @apply shadow-md;
}
